@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Roboto:wght@400;700&display=swap');

/* Reset */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/* Body */

body{
    font-family:'Roboto', sans-serif;
    line-height:1.6;
    color:#ffffff;
    background-color:#000; 
    padding-top: 80px;
}

/* Scroll*/
html{
    scroll-behavior: smooth;
}

/* Container */
.container{
    max-width:1200px;
    margin:auto;
    padding:0 20px;
}

/* Titulos */

h1,h2,h3{
    font-family:'Bangers', cursive;
    letter-spacing:1px;
}

/* Header */

.site-header{
    background:#222;
    color:#fff;
    padding:20px 0;
/* La parte de abajo ayuda a que el menu se mantenga fijo y no se pierda al bajar o subir la pagina */
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.site-header .container{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.logo{
    font-size:2rem;
}

/* Menu */

.main-nav ul{
    list-style:none;
    display:flex;
}

.main-nav li{
    margin-left:20px;
}

.main-nav a{
    text-decoration:none;
    color:white;
    font-weight:bold;
}

/* HERO o inicio */

#inicio{
    background-image: 
    linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
    url(img/gameplay.jpg);
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;

    color:#fff;
    padding: 80px 0;
}

.container-hero{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}

/*Hero texto*/

.hero-text{
    flex: 1;
    text-align: center;
    margin-top:20px;
}

#inicio h1{
    font-size:3rem;
    margin-bottom:20px;
}

#inicio p{
    font-size:1.5rem;
    margin-bottom:30px;
    text-shadow:2px 2px 4px #FF6600;
}
.hero-video{
    flex: 1;
    display: flex;
    justify-content: center;
}

.hero-video iframe{ 
    width: 500px;
    height: 280px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgb(255, 255, 255);
}

html{
scroll-behavior:smooth;
}

#hero h1{
    font-size:3rem;
    margin-bottom:20px;
}

#hero p{
    font-size:1.5rem;
    margin-bottom:30px;
    text-shadow:2px 2px 4px #FF6600;
}

/* Botón */

.btn{
    display:inline-block;
    background-color:#ffcc00;
    color:#000;
    text-decoration:none;
    padding:12px 25px;
    border-radius:5px;
    font-weight:bold;
    font-family:'Bangers', cursive;
    font-size:1.2rem;

    transition:transform 0.3s ease, background-color 0.3s ease;
}

.btn:hover{
    background-color:#ff9900;
    transform:scale(1.05);
}

/*  SECCIONES  */

section{
    padding:80px 0;
    scroll-margin-top: 120px;
}

/*titulos secciones*/ 
section h2{
    font-size:3rem;
    margin-bottom:40px;
    text-align:center;
    color:#edff4e;
}

/*Grid Tarjetas o cuadros*/ 
.grid-container{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:30px;
}

/* Tarjetas*/ 
.grid-item{
    background:#f9f9f9;
    border-radius:10px;
    overflow:hidden;
    box-shadow:0 4px 8px rgba(0,0,0,0.1);
    transition:transform 0.3s ease;
}
.grid-item:hover{
    transform:translateY(-5px);
}

/*imagen tarjeta o cuadro*/ 
.grid-item img{
    width:100%;
    height:250px;
    object-fit:cover;
    display:block;
}

/*titulo tArjeta*/
.grid-item h3{
    font-size:1.8rem;
    margin:15px 0 5px;
    color:#ff9500;
}

/*texto tarjeta*/
.grid-item p{
    padding:0 15px 20px;
    color:#565555;
}

/*personajes*/
#personajes{
    background: #000000;
}

/*Trailer*/
#trailer{
    text-align: center;
}

.trailer-card{
    background:#f9f9f9;
    border-radius:10px;
    padding: 30px;
    max-width: 900px;
    margin: auto;

    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.trailer-card iframe{
    width:100%;
    height:400px;
    border-radius:10px;
    margin-bottom: 20px;
}

.trailer-card p{
    color: #666;
    font-size: 1.1rem;
}
#trailer-iframe{
    width:100%;
    height:500px;
    border:none;
    border-radius:10px;
    box-shadow:0 10px 25px rgba(0,0,0,0.2);
}

.grid-container{
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(250px, 1fr));
    gap:30px;
    justify-content: center;
}
/*Pie de pagina*/
footer{
    background-color:#222;
    color:#fff;
    text-align:center;
    padding:20px 0;
    margin-top:40px;
}


/* Para este trabajo he utilizado la IA para correccion y para pedirle sugerencias de que podria anadirle para que se viera mas estetico.
En el HTMl me base principalmente en lo que el profe hizo en clase, unos textos hacerca de HTML y clases de programacion que he tenido en otros cursos antes de la universidad.
A continuacion justificacion de los puntos clave del CSS   
*/

/* Clase.container se uso para que el contenido no sea un buque infinito o no se estire infinitamente
margin:auto para centrar todo horizontalmente*/

/* Hero section se uso linear-gradient para que en la imagen de fondo el text se lea mejor
background-size: cover ayuda a que la imagen cubra gran parte de la pantalla o casi toda*/

/*Se utilizo height: 250px y  object-fit: cover ya que asi todas las tarjetas e imagenes tendrian el mismo tamano, asi sus tamanos originales sean muy distintos*/

/* Para las fuentes y colores se importo Bangers y Roboto desde google fonts. Los colores (#ffcc00 y #0099ff) pertenecen a la paleta de colores de subway surfers*/

/* En cuanto a la transition en los botones y tarjetas, es por como ayuda con e cambio de color y movimiento al pasar el mouse. Sin importar lo suave o brusco que sea. Eto ayudaria a una mejor experiencia de usuario*/